#sched-body{
	font-family: "Karla", sans-serif !important;
}

ul{
	list-style-type: none;
	padding: 0;
	float: right;
	margin: 0;
}

li{
	margin: 0;
	padding: 0;	
	font-weight: 700;
	font-style: italic;
	line-height: 1.25em;
	font-size: 2.5rem;
	text-align: right;
}

li a{
	color: #001588;
	text-shadow: 3px 3px 0 #fff,     /* Simulated effect for Firefox and Opera        and nice enhancement for WebKit */    -1px -1px 0 #fff,       1px -1px 0 #fff,    -1px  1px 0 #fff,     1px  1px 0 #000;
}

h2{
	font-style: italic;
	font-weight: 700;
}

p {
	font-size: 2.25rem;
	line-height: 1em;
	margin: 0 0 0.75em 0;
}

@media (min-width:960px){
	p {
		font-size: 2.75rem;
		line-height: 1em;
		margin: 0 0 0.75em 0;
	}
}

@media (min-width:1200px){
	p {
		font-size: 3.6rem;
		line-height: 1em;
		margin: 0 0 0.75em 0;
	}
}
img{
	max-width: 100%;
}

#nav{
	position: fixed;
	right: 9%;
	bottom: 40%;
	z-index: 9999999999;
	transform: rotate(9deg);
	-webkit-transform: rotate(9deg);
}


#diplogo{
	position: fixed;
	z-index: 999999999;
	right: 102px;
	top: 102px;
	width: 60px;
}

#sdflogo{
    z-index: 9999999999;
    position: fixed;
    background-color: #fff;
    padding: 22px 25px 15px 25px;
    top: 134px;
    width: 24px;
}


#whiteout-top{
	position: fixed;
	width:100%;
	top:0;
	left:0;
	height: 51px;
	z-index: 10000;
	background-color: #fff;
	/* border-top: 51px solid white; */
}

#whiteout-right{
	position: fixed;
	width: 51px;
	top:0;
	right: 0;
	height: 100%;
	z-index: 10000;
	background-color: #fff;
}

#whiteout-bottom{
	position: fixed;
	width:100%;
	bottom: 0;
	left:0;
	height: 51px;
	z-index: 10000;
	background-color: #fff;
	/* border-bottom: 51px solid white; */
}

#whiteout-left{
	position: fixed;
	width: 51px;
	top:0;
	left:0;
	height: 100%;
	z-index: 10000;
	background-color: #fff;
	/* border-left: 51px solid white; */
}

.logo{
	z-index: 999999;
	position: fixed;
	background-color: #fff;
	right: 112px;
	bottom: -7px;
	padding: 35px;
	/* height: 20px; */
	margin: 0 auto;
	width: 17%;

}


#border-top{
	border-bottom: 27px solid black;
	width: 100%;
	margin: auto;
	position: fixed;
	z-index: 100;
	top: 51px;
	left: 0;
}

#border-bottom{
	border-top: 27px solid black;
	width: 100%;
	position: fixed;
	z-index: 100;
	bottom: 51px;
	left: 0;
}

#border-left{
	border-right: 27px solid black;
	height:100%;
	left: 51px;
	top: 0;
	position: fixed;
	z-index: 100;
}

#border-right{
	border-left: 27px solid black;
    height: 100%;    
	right: 51px;
	top: 0;
    position: fixed;
	z-index: 200;
}
.container{
	margin-top: 78px;
	margin-bottom: 78px;
}

#hiddenhead{
	display: none;
}

.handwriting{
	width: 64%;
	float: left;
	margin-left: 100px;
	margin-top: 55px;
	margin-bottom: 45px;
}

.clear{
	clear: both;
	width: 100%;
}

@media (max-width: 500px){
	
	.handwriting{
		width: 93%;
	
		/* margin: 0px auto; */
		position: relative;
		box-sizing: border-box;
		margin-left: 11px;
		margin-top: auto;
		margin-bottom: 20px;
}

	#border-left{
		border: 8px solid black;
		left: 10px;
	}
	#border-right{
		border: 8px solid black;
		right: 10px;
	}
	#border-top{
		border: 8px solid black;
		top: 10px;
	}

	#border-bottom{
		border: 8px solid black;
		bottom: 10px;
	}

	#whiteout-left{
		width: 10px;
	}

	#whiteout-bottom{
		height: 10px;
	}

	#whiteout-right{
		width: 10px;
	}

	#whiteout-top{
		height: 10px;
	}

	.logo{
		padding: 12px;
		width: 100px;
		bottom: -12px;
		right: 46px;
	}

	#sdflogo{
		left: 8px;
		top: 39px;
		width: 10px;
		padding: 12px 5px 5px 5px;
}

	#diplogo{
		width: 40px;
		top: 40px;
		right: 40px;
}
	
	#nav{
		left: 15px;
				top: 0;
	
		right: auto;
		/* z-index: 999999999999999999999999; */
}

	#nav li{
		text-align: left;
	
		font-size: 1.5em;
}
}


